{% extends 'navigation.html'%}
{% load static %}
{% block body %}

<section class="about" id="about">

    <div class="image">
        <img src="{% static 'images/Learning-amico.png' %}" alt="">
    </div>

    <div class="content">
        <h3>All About SemStar</h3>
        <p>“SemStar” is the project used for sharing notes,ModelQuestionPapers,Guidance using the website. Notes that the user wants for a particular subject can be found in the website. This project is written in Python Django and sqlite. Firstly, the user need to sign up and then, they can log in to the system.</p>
       
        <br>
        <br>

        <style type="text/css">
            .tg  {border-collapse:collapse;border-spacing:0;}
            .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
              overflow:hidden;padding:7px 17px;word-break:normal;}
            .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
              font-weight:normal;overflow:hidden;padding:7px 17px;word-break:normal;}
            .tg .tg-0lax{text-align:left;vertical-align:top}
            </style>
            <table class="tg" style="border:1px solid black;margin-left:auto;margin-right:auto;">
            <thead>
              <tr>
                <th class="tg-0lax">&nbsp;&nbsp;&nbsp;&nbsp;OUR TEAM</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-0lax">K.Y.P.Krishna Reddy</td>
              </tr>
              <tr>
                <td class="tg-0lax">Srujana</td>
              </tr>
              <tr>
                <td class="tg-0lax">TejaSri</td>
              </tr>
              <tr>
                <td class="tg-0lax">Sandeep</td>
              </tr>
              <tr>
                <td class="tg-0lax">Sobharani</td>
              </tr>
            </tbody>
            </table>

    </div>

</section>
{% endblock %}